{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Employment{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static '/employment/styles.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/static/employment/icon.png" type="image/icon type">
        {% block script %}
        {% endblock %}
    </head>
    <body style="background-image: employment/static/bg">
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
        <div style="text-align: center;">
            <mark style="background-color: black; color:white;">&#169;Prabhjot Singh Bhatia</mark>
        </div>
        <script src="/static/employment/index.js"></script>
    </body>
</html>